html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(149, 196, 206);
}

body {
    color: #000;
    font: 90% Roboto, Arial, sans-serif;
    font-weight: 300;
}

p {
    padding: 0 10px;
    line-height: 1,8;
}

ul li {
    padding-right: 10px;
    line-height: 1,6;
}

